body{
    background-image: url(veronica-wu.jpg)
    background-size: cover;
}

header{
    color: red;
    text-align: center;
    border: 5px solid purple;
}

p{
    color: pink;
}

p{
    color: green;
}

