/* Selector {
    Property: value;
} */
body{
    background-image: url(backgroundimage.jpg);
    background-size: cover;
}
h2{
    color:rgb(36, 108, 96);
    text-align: center;
    border: 5px solid rgb(0, 54, 45);
    cursor: pointer;
}

p{
    color:rgb(174, 71, 88);
}

p {
    color:green;
}

li{
    list-style: none;
    display: inline-block;
}

